In [62]:
import xml.etree.ElementTree as ET
tree = ET.ElementTree(file='sample.xml')
tree.getroot()

In [63]:
root = tree.getroot()
root.tag, root.attrib

('doc', {})

In [65]:
#每一条全部记录到一个空间里
import pandas as pd
record = []
for child_of_root in root:
    record.append(child_of_root.attrib)
df = pd.DataFrame(
    {
        'record': record,
    }
)
df

                                         record
0  {'name': 'codingpy.com', 'hash': '1cdf045c'}
1     {'name': 'release01', 'hash': 'f200013e'}
2                           {'name': 'invalid'}

In [84]:
#每一条分类型记录 
#child_of_root.get('hash')=child_of_root.attrib['hash']
import pandas as pd
name = []
hash0= []
for child_of_root in root:
    name.append(child_of_root.attrib['name'])
    hash0.append('NA' if child_of_root.get('hash')==None else child_of_root.attrib['hash'])
df = pd.DataFrame(
    {
        'name': name,
        'hash': hash0
    }
)
df

           name      hash
0  codingpy.com  1cdf045c
1     release01  f200013e
2       invalid        NA